name: Deploy Vite App

on:
  push:
    branches: ["main"] # Hoặc master

permissions:
  contents: write
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build-and-deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      # Chạy script tạo JSON trước (nó sẽ tạo file vào thư mục public)
      - name: Generate Playlist JSON
        run: node generate-playlist.js

      # Build dự án bằng Vite (tạo thư mục dist)
      - name: Build
        run: npm run build
        # Nếu npm run build lỗi, hãy dùng: npx vite build

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './dist' # Chỉ upload thư mục dist

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
